#game__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 550px;
  margin: 0;
  background-color: #235789;
  padding-bottom: 10px;
  background-image: linear-gradient(#0d2e5a, #537895);
}
