#hangman__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 275px;
  overflow-y: hidden;
  width: 80%;
  padding: 0;
  margin-top: 25px;
  background-color: #e3e3e3;
  border-radius: 10px;
}

#base {
  background-color: black;
  width: 200px;
  height: 5px;
  border: 1px solid black;
  display: block;
  position: relative;
  top: 230px;
  left: 0px;
}

#left-post {
  background-color: black;
  width: 5px;
  height: 200px;
  border: 1px solid black;
  display: block;
  position: relative;
  top: 25px;
  left: 0px;
}

#top-post {
  background-color: black;
  width: 120px;
  height: 5px;
  border: 1px solid black;
  display: block;
  position: relative;
  top: -180px;
  left: 0px;
}
#noose {
  background-color: black;
  width: 2px;
  height: 18px;
  border: 1px solid black;
  display: block;
  position: relative;
  top: -187px;
  left: 120px;
}
#head {
  width: 40px;
  height: 40px;
  border: 3px solid #235789;
  border-radius: 50%;
  display: block;
  position: relative;
  top: -187px;
  left: 98px;
}

#body {
  background-color: #235789;
  width: 1px;
  height: 75px;
  border: 1px solid #235789;
  display: block;
  position: relative;
  top: -187px;
  left: 120px;
}

#left-arm {
  background-color: #235789;
  width: 35px;
  height: 1px;
  border: 1px solid #235789;
  display: block;
  position: relative;
  top: -240px;
  left: 89px;
  transform: rotate(-40deg);
}

#right-arm {
  background-color: #235789;
  width: 35px;
  height: 1px;
  border: 1px solid #235789;
  display: block;
  position: relative;
  top: -242px;
  left: 117px;
  transform: rotate(40deg);
}

#left-leg {
  background-color: #235789;
  width: 1px;
  height: 50px;
  border: 1px solid #235789;
  display: block;
  position: relative;
  top: -193px;
  left: 120px;
  transform: rotate(30deg);
  transform-origin: top;
}

#right-leg {
  background-color: #235789;
  width: 1px;
  height: 50px;
  border: 1px solid #235789;
  display: block;
  position: relative;
  top: -245px;
  left: 120px;
  transform: rotate(-30deg);
  transform-origin: top;
}

#game-over {
  width: 150px;
  height: 75px;
  display: block;
  position: relative;
  top: -375px;
  left: 10px;
  font-size: 30px;
  font-weight: 900;
  color: #ca1313;
}
