@import url("https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Lato:wght@900&family=Pacifico&display=swap");

#btn__letter {
  width: 35px;
  height: 35px;
  border: none;
  margin: 2px;
  color: #222;
  font-weight: 800;
  font-size: 14px;
  font-family: "Anton", sans-serif;
  border-radius: 3px;
}

#btn__letter:active {
  color: white;
}
