#lose-game__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 275px;
  width: 80%;
  padding: 0;
  margin-top: 25px;
}

.lose__title {
  color: #f1d302;
  font-size: 60px;
  font-family: "Anton", sans-serif;
}
