#div__btn__play-game {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

#btn__play-game {
  margin-top: -50px;
  background-color: #f1d302;
  font-family: "Anton", sans-serif;
  width: 150px;
  height: 50px;
  border: none;
  font-size: 18px;
  color: #235789;
  outline: 2px solid #537895;
  outline-offset: -5px;
}

#btn__play-game:hover {
  color: rgb(243, 243, 243);
}
