@import url("https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Lato:wght@900&family=Pacifico&display=swap");

#game-title__classic {
  margin-top: 80px;
  color: #f1d302;
  font-size: 60px;
  font-family: "Pacifico", cursive;
  transform: rotate(-10deg);
  text-shadow: 0 0 2px #fff, 0 0 2px #f3f0be, 0 0 5px #235789, 0 0 20px #235789,
    0 0 25px #235789;
}

#game-title__hangman {
  margin-top: -65px;
  color: #f1d302;
  font-size: 60px;
  font-family: "Anton", sans-serif;
}

#btn__play-game:active {
  color: #235789;
}

#creator {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Anton", sans-serif;
  margin-top: 50px;
}

#github__logo {
  display: flex;
  justify-content: center;
  height: 25px;
}

#github__container {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}
